
<div class="po-p-3" [formGroup]="form">
    
  <h1 class="po-pt-1 po-pb-2">{{ title }}</h1>
  <span class="po-pb-4">Descubra qual o melhor investimento 🎉</span>
    
  <div class="po-row">
    <div class="po-row">
      <po-input [p-label]="'%CDB'" formControlName="cdbValue" class="po-md-3"></po-input>      
      <po-input [p-label]="'Prazo (dias)'" formControlName="daysValue" class="po-md-3"></po-input>      
      <po-input [p-label]="'% LCI'" formControlName="lciValue" class="po-md-3"></po-input>
    </div>

    <div class="po-row">
      <po-input [p-label]="'IR cobrado'" formControlName="irValue" class="po-md-3" p-disabled="true"></po-input>
    </div> 
  </div>
  
  
  <h3 class="po-pb-2">Comparador</h3>
  <div class="po-row po-pb-4">
    <po-input [p-label]="'CDB => LCI'" formControlName="cdbResult" class="po-md-3" p-disabled="true"></po-input>
    <po-input [p-label]="'LCI => CDB'" class="po-md-3" formControlName="lciResult" p-disabled="true"></po-input>
  </div>


  <h3>Tabela inforativa:</h3>
  <div class="po-row" style="border: 3px solid purple;">
    
    <div class="row">
      <div class="po-md-4">x dias <= 180</div> 
      <div class="po-md-3">22.50%</div> 
    </div>
    <div class="row">
      <div class="po-md-4">181 <= x <= 360</div> 
      <div class="po-md-3">20.00%</div> 
    </div>
    <div class="row">
      <div class="po-md-4">361 <= x <= 720</div> 
      <div class="po-md-3">17.50%</div> 
    </div>
    <div class="row">
      <div class="po-md-4">x dias >= 721</div> 
      <div class="po-md-3">15.00%</div> 
    </div>
  </div>
</div>
      
<router-outlet />
